/* Begin Reset*/
html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: #faeee7;
  line-height: 1;
  color: black;
}

ol,
ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: """";
}

html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
}
h1, h2, p {	
    text-align: center;	
    margin: 4%;	
    color: #594a4e;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p, li {
    font-family: 'Zilla Slab', serif;
}
h2 {
    font-size: 3.6rem;
    text-align: left;
    margin-left: 8%;
}

/* Begin main CSS */

/**************
****HEADER*****
**************/
.logo {
    background-image: url('images/Wunderlist_Logo.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  nav.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    margin: 0 4%;
  }
  
  nav.topnav a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-weight: 600;
  }
  
  div.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
  }
  
  nav.topnav a.menu-contact {
    color: blue;
  }

/**************
****LOGO BREAK*****
**************/
.image-break {
    display: flex;
    justify-content: center;
    background-color:#33272a;
}

.image-break img {
    width: 65%;
    height: 140px;
    border-radius: 20%;
    padding: 2% 0;
    
}
  /**************
****BODY*****
**************/

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2%, 15%; */
    margin-left: 10%;
    margin-right: 10%;
    background: #ffc6c7;
    border: 2px solid black;
    border-radius: 8px;
    padding: 6px;
}


.about-container p {
    padding: 2%, 80%;
    margin-bottom: 5%;
    color: #594a4e;
}

.about-container img {
    width: 25%;
    margin-left: 7%;
    border: 3px solid black;
    border-radius: 8px;
}
/**************
****FOOTER*****
**************/

footer {
    border:black, 2%;
    background-color:#c3f0ca;
}
.footer-container {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
   
   

}

.footer-container h3 {
    border: 2px solid black;
    border-radius: 8px;
    padding: 6px;
    text-decoration: none;
}

.footer-container h3:hover {
    background: #ff8ba7;
    color: #c3f0ca;
    text-decoration: none;
}

.footer-container a {
    text-decoration: none;
}
.social-container {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.social-container img {
    display: flex;
    justify-content: center;
    width: 11%;
    margin-left: 48%;
    /* justify-content: space-around; */
}

.social-container img:hover {
    width: 15%;
    background: #ff8ba7;
}

li:hover {
    text-decoration:underline;
}
/* *****media styles***** */

@media (max-width:800px){
        /*****************
    *****TOP MENU ****
    *****************/

    div.top-menu a {
        margin: 0 3%;
    }

    nav.topnav {
        width: 90%;
    }



    h2 {
        font-size: 2.6rem;
        text-align: center;
        margin-left: 8%;
    }
/**************
****LOGO BREAK*****
**************/
    .about-container img {
        width: 25%;
        margin-left: 39%;
        border: 3px solid black;
        border-radius: 8px;
        display: flex;
        align-items: center;
    }

/**************
****SOCIAL BUTTONS*****
**************/
    .social-container img {
        display: flex;
        justify-content: center;
        width: 15%;
        margin-left: 48%;
        /* justify-content: space-around; */
    }

    .social-container img:hover {
        width: 18%;
    }
}

@media (max-width:500px) {
/**************
****NAV*****
**************/
    div.top-menu a {
        margin: 0 3%;
      }
    
/**************
****LOGO BREAK*****
**************/
    .about-container img {
        width: 33%;
        margin-left: 34%;
       
    }
/**************
****SOCIAL BUTTONS*****
**************/
    .social-container img {
        width: 22%;
        
    }

    .social-container img:hover {
        width: 25%;
    }
}