/* * {
  
  border: 1px solid gray;
} */

/* #ff8ba7; */

/* #c3f0ca; */

/* #ffc6c7; */

/* rgb(39, 39, 39); */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 4%;
  color: #594a4e;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
  text-align: left;
  margin-left: 8%;
  color: #594a4e;
}

h3 {
  font-size: 2rem;
  color: #594a4e;
}

/**************
****HEADER*****
**************/
.top-bar {
  height: 5vh;
  background-color: #594a4e;
}

.logo {
  background-image: url('images/Wunderlist_Logo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

nav.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin: 0 4%;
}

nav.topnav a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

div.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

nav.topnav a.menu-contact {
  color: #ff8ba7;
}

/**************
*****Hero******
***************/
.hero-section {
  height: 70vh;
  width: 100%;
  /* background-color: rgba(233, 233, 233, 0.377); */
  background-image: url('images/9\ SCENE.svg');
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px;
  border-bottom: 2px solid rgb(48, 38, 20);
}

.hero-section div.logo {
  height: 15vh;
  width: 8rem;
}

.hero-section h1 {
  margin: 1%;
}

a.button1 {
  display: inline-block;
  padding: 0.5em 1.8em;
  border: 0.1em solid #f44e31;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #f44e31;
  color: white;
  text-align: center;
  transition: all 0.2s;
  border-radius: 10px;
  margin: 1%;
}

a.button1:hover {
  color: #f44e31;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

/******************
*****Features******
*******************/
.features-section {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.features-section h2 {
  margin: 2%;
}

.feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2% 4%;
  width: 90%;
}

.feature-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.459);
  border-radius: 20px;
  height: 35vh;
  width: 15%;
}

.feature-block h3 {
  margin-top: 5%;
}

.feature-block.onboard {
  background-image: url('images/5\ SCENE.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  /* background-attachment: fixed; */
}

.feature-block.create {
  background-image: url('images/8\ SCENE.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
  /* background-attachment: fixed; */
}

.feature-block.edit {
  background-image: url('images/7\ SCENE.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
}

.feature-block.complete {
  background-image: url('images/2\ SCENE.svg');
  background-repeat: no-repeat;
  background-position: bottom center;
}

/*******************
*******ABOUT********
*******************/

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
  /* border-bottom: .5rem dotted black; */
}


.about-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}

/*******************
********TEAM********
*******************/

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
}

.team-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}

/*******************
******CONTACT*******
*******************/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
}

.contact-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}


/**************
****FOOTER*****
**************/

footer {
  border: black, 2%;
  background-color: #594a4e;
  ;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;



}

.footer-container h3 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
}

.footer-container h3:hover {
  background: #ff8ba7;
  color: rgba(233, 233, 233, 0.377);
  ;
}

.footer-container a {
  text-decoration: none;
  color: rgba(233, 233, 233, 0.377);
}

.social-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.social-container img {
  display: flex;
  justify-content: center;
  width: 11%;
  margin-left: 48%;
  /* justify-content: space-around; */
}

.social-container img:hover {
  width: 15%;
}

/* *****media styles***** */

@media (max-width:800px) {

  h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-left: 8%;
  }

  .about-container img {
    width: 25%;
    margin-left: 39%;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }


  .social-container img {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 48%;
    /* justify-content: space-around; */
  }

  .social-container img:hover {
    width: 18%;
  }

  /*****************
  *****TOP MENU ****
  *****************/

  div.top-menu a {
    margin: 0 3%;
  }

  div.top-menu a.log-in {
    margin-right: 2%;
    width: 100%;
  }

  /* nav.topnav div.top-menu a {
    margin: 0 2%;
  } */

  nav.topnav {
    width: 90%;
  }

  /***************
  ***FEATURES*****
  ***************/

  .features-section {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 2% 0;
  }

  .feature-container {
    display: flex;
    flex-direction: column;
  }

  div.features-section h2.features-text {
    margin-top: 8%;
  }

  .feature-block {
    width: 60%;
    margin: 8%;
    height: 70vh;
  }

  /***************
  ***SECTIONS*****
  ***************/
  .about-section {
    margin: 15% 0;
  }

  .team-section {
    margin: 15% 0;
  }

  .contact-section {
    margin: 15% 0;
  }
}

@media (max-width:500px) {

  .about-container img {
    width: 33%;
    margin-left: 34%;

  }

  .social-container img {
    width: 22%;

  }

  .social-container img:hover {
    width: 25%;
  }

  div.top-menu a {
    margin: 0 3%;
  }

}