/* * {
  
  border: 1px solid gray;
} */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 4%;
  color: #594a4e;
}

h2 {
  font-size: 3.6rem;
  text-align: left;
  margin-left: 8%;
}

h3 {
  font-size: 2rem;
}

/**************
****HEADER*****
**************/
.logo {
  background-image: url('images/Wunderlist_Logo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

nav.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin: 0 4%;
}

nav.topnav a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

div.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

nav.topnav a.menu-contact {
  color: blue;
}

/**************
*****Hero******
***************/
.hero-section {
  height: 70vh;
  width: 100%;
  background-color: rgba(233, 233, 233, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0px;
}

/******************
*****Features******
*******************/
.features-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.features-section h2 {
  margin: 2%;
}

.feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2% 4%;
  width: 100%;
}

.feature-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.459);
  border-radius: 20px;
  height: 35vh;
  width: 15%;
}

/*******************
*******ABOUT********
*******************/

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
  /* border-bottom: .5rem dotted black; */
}


.about-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}

/*******************
********TEAM********
*******************/

.team-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
}

.team-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}

/*******************
******CONTACT*******
*******************/

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4% 0;
}

.contact-section p {
  width: 50%;
  margin: 1% 0 2% 0;
}


/**************
****FOOTER*****
**************/

footer {
  border: black, 2%;
  background-color: #c3f0ca;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;



}

.footer-container h3 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
}

.footer-container h3:hover {
  background: #ff8ba7;
  color: lightgray;
}

.footer-container a {
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.social-container img {
  display: flex;
  justify-content: center;
  width: 11%;
  margin-left: 48%;
  /* justify-content: space-around; */
}

.social-container img:hover {
  width: 15%;
}

/* *****media styles***** */

@media (max-width:800px) {

  h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-left: 8%;
  }

  .about-container img {
    width: 25%;
    margin-left: 39%;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }


  .social-container img {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 48%;
    /* justify-content: space-around; */
  }

  .social-container img:hover {
    width: 18%;
  }
}

@media (max-width:500px) {

  .about-container img {
    width: 33%;
    margin-left: 34%;

  }

  .social-container img {
    width: 22%;

  }

  .social-container img:hover {
    width: 25%;
  }
}