TEAM.CSS html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  background: white;
  line-height: 1;
  color: black;
}

ol,
ul {
  list-style: none;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: """";
}

/* Begin main CSS */


html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
p {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 4%;
  color: #594a4e;
}

h2 {
  font-size: 3.6rem;
  text-align: left;
  margin-left: 8%;
}

h3 {
  font-size: 2rem;
}

/**************
****HEADER*****
**************/
.top-bar {
  height: 5vh;
  background-color: #594a4e;
}

.logo {
  background-image: url('images/Wunderlist_Logo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

nav.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  margin: 0 4%;
}

nav.topnav a {
  text-decoration: none;
  color: rgb(39, 39, 39);
  font-weight: 600;
}

div.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

nav.topnav a.menu-contact {
  color: #ff8ba7;
}

/***************
***BIO SECTION**
***************/
/******* HERO CONTAINER CSS ******/
.bio-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* margin-top: 1%; */
  background-color: rgba(233, 233, 233, 0.377);
  /* background-color: gray; */
}

div.bio-hero div.logo {
  background-image: url('images/Wunderlist_Logo.png');
  height: 8rem;
  width: 8rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.bio-hero h2,
.bio-hero p {
  margin: .5%;
}

/****** MAIN SECTION (row of 3) ******/
.bio-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  background-color: red;
  width: 25%;
  height: 100vh;
  margin: 0;
}

.right-container {
  background-color: blue;
  width: 25%;
  height: 100vh;
}

.bio-container {
  margin-top: 8%;
}

.bio-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4%;
}

.bios {
  display: flex;
  justify-content: center;
  width: 100%;
}

/**************
****FOOTER*****
**************/

footer {
  border: black, 2%;
  background-color: #c3f0ca;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.footer-container h3 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
}

.footer-container h3:hover {
  background: #ff8ba7;
  color: lightgray;
}

.footer-container a {
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.social-container img {
  display: flex;
  justify-content: center;
  width: 11%;
  margin-left: 48%;
  /* justify-content: space-around; */
}

.social-container img:hover {
  width: 15%;
}

/* *****media styles***** */

@media (max-width:800px) {

  h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-left: 8%;
  }

  .about-container img {
    width: 25%;
    margin-left: 39%;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }


  .social-container img {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 48%;
    /* justify-content: space-around; */
  }

  .social-container img:hover {
    width: 18%;
  }
}

@media (max-width:500px) {

  .about-container img {
    width: 33%;
    margin-left: 34%;

  }

  .social-container img {
    width: 22%;

  }

  .social-container img:hover {
    width: 25%;
  }
}