/**************
****FOOTER*****
**************/

footer {
  border: black, 2%;
  background-color: #c3f0ca;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;



}

.footer-container h3 {
  border: 2px solid black;
  border-radius: 8px;
  padding: 6px;
}

.footer-container h3:hover {
  background: #ff8ba7;
  color: lightgray;
}

.footer-container a {
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.social-container img {
  display: flex;
  justify-content: center;
  width: 11%;
  margin-left: 48%;
  /* justify-content: space-around; */
}

.social-container img:hover {
  width: 15%;
}

/* *****media styles***** */

@media (max-width:800px) {

  h2 {
    font-size: 2.6rem;
    text-align: center;
    margin-left: 8%;
  }

  .about-container img {
    width: 25%;
    margin-left: 39%;
    border: 3px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }


  .social-container img {
    display: flex;
    justify-content: center;
    width: 15%;
    margin-left: 48%;
    /* justify-content: space-around; */
  }

  .social-container img:hover {
    width: 18%;
  }
}

@media (max-width:500px) {

  .about-container img {
    width: 33%;
    margin-left: 34%;

  }

  .social-container img {
    width: 22%;

  }

  .social-container img:hover {
    width: 25%;
  }
}